@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0.3125rem);
    }
    40% {
        transform: translateX(-0.3125rem);
    }
    60% {
        transform: translateX(0.3125rem);
    }
    80% {
        transform: translateX(-0.3125rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes winner {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
