@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-title {
    font-family: "Cal Sans", sans-serif;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-9rem);
}

.error {
    animation: shake 0.5s;
}

.selected {
    color: white !important;
    font-size: 1.1rem !important;
    transform: scaleX(1.05) !important;
    font-weight: 500 !important;
    &:nth-child(1) {
        background-color: #3381b1 !important;
    }
    &:nth-child(2) {
        background-color: #d66c6c !important;
    }
    &:nth-child(3) {
        background-color: #e9e3e3 !important;
        color: black !important;
    }
}
