@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-title {
    font-family: "Cal Sans", sans-serif;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-9rem);
}

.error {
    animation: shake 0.5s;
}
